/* Gestion des tableaux */
table{
    td, th{
        border-right:1px solid var(--font-primary);
        &:last-child{
            border-right: none;
        }
    }
    thead{
        th{
            position: relative;
            color: var(--main-cards-font);
            text-align: left;
            &:first-child{
                border-radius: 10px 0 0 0;
            }
            &:last-child{
                text-align: center;
                border-radius: 0 10px 0 0;
            }
            &.filter1{
                position: relative;
                z-index:8;
            }
            &.filter2{
                position: relative;
                z-index: 7;
            }
        }
    }
    color: var(--main-cards-font);
    button, a{
        padding:0.6em;
        color:var(--main-cards-font);
        &:hover{
            filter: brightness(0.8);
        }
    }
    a{
        padding: 0.75em;
        border-radius: 10px;
        background-color: var(--main-cards-button);
    }
    form button{
        background-color: darkred;
    }
}

a.cancel{
    background-color: darkred;
}

form input, form select{
    color: var(--background-primary);
}
.form-actions{
    display: flex;
    gap:0.5em;
}

/* #brand-filter-form,
#type-filter-form {
    display: none;
    &.open{
        display: block;
    }
}
/* Style des boutons */
#brand-filter-form button,
#type-filter-form button {
    cursor: pointer;
} 

#type-filter-dialog button, #brand-filter-dialog button{
    font-size: 14px;
    padding: 0.2em 0.4em;
    background-color: unset;
    color:var(--main-cards-button);
    &:hover{
        filter: unset;
        background-color: var(--main-cards-button);
        color: var(--font-primary);
    }
}

#drop-session-type, #drop-session-brand{
    background-color: unset;
    svg{
        fill:darkred;
    }
    &svg:hover{
        filter: brightness(0.8);
    }
}

.error, .success{
    padding:0.5em;
    text-align: center;
    width:fit-content;
    margin: 1em auto 0 auto;
    font-weight: 600;
    border-radius: 10px;
}
.error{
    background-color: red;
}
.success{
    background-color: green;
}

.list-header{
    color: black;
    position: relative;
    z-index: 5;
    filter: brightness(90%);
    border-bottom:2px black solid ;
    li:hover{
        cursor:default;
        filter:none;
    }
}


.valide, .annule{
    font-weight: bolder;
    color: var(--main-cards-font);
    text-transform: uppercase;
    filter:drop-shadow(2px 4px 4px black);
    padding:0.2em 0.4em;
}
.valide{
    background-color: var(--main-cards-background);
}
.annule{
    background-color: darkred;
}

table a{
    background-color: unset;
}
td.link{
    font-size: 25px;
    span{
        padding: 0.15em;
        background-color: var(--main-cards-font);
        border-radius: 10px;
        &:hover{
            cursor: pointer;
            filter: brightness(0.9);
        }
    }

}