
.dashboard-header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
h2.title{
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    font-weight: bold;
    span{
        color: var(--subheader-subtitle);
        background-color: var(--subheader-button);
        padding: 0 0.5em;
        font-size: 0.4em;
        align-self:center;
    }
}
.logout-dashboard{
    svg{
        width:30px
    }
}
.header-right-button{
    display: flex;
    flex-direction: row;
    gap:2em;
}

div.layout-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2em;
    a{
        display: flex;
        flex-direction: column;
        gap:0.7em;
        justify-content: center;
        align-items: center;
        margin: 0.6em;
        background-color: var(--main-cards-background);
        color: var(--main-cards-font);
        height: 150px;
        width: 40%;
        border-radius: 10px;
        div{
            display:flex;
            font-size: 1.1em;
            font-weight: 600;
        }
        svg{
            fill:var(--main-cards-svg);
        }
        &:hover{
            filter:brightness(0.8);
        }
    }
    a.cart-returned{
        svg{
            stroke:var(--main-cards-svg);
        }
    }
}
.cart-in-progress{
    font-size: 11px;
    background-color: var(--main-cards-font);
    color: var(--main-cards-background);
    text-transform: uppercase;
    padding:0 1em;
    border-radius: 5px;
}
.cart-returned{
    position: relative;
    span{
        position:absolute;
        top:0;
        right:-5px;
        background-color: var(--main-cards-svg);
        color:var(--main-cards-background);
        border-radius: 50%;
        padding:0 7px;
    }
}

div.layout-container.reception{
    flex-flow: nowrap;
    flex-direction: column;

    align-items: center;
    a{
        width: 70%;
    }
}
