header{
    /* Ici inversion de design */
    background-color: var(--subheader-background);
    color: var(--subheader-title);
    text-transform: uppercase;
    padding:0;
    height: 15vh;
    font-size: 22px;
    font-weight: bold;

    padding-left: 1em;
    .title{
        font-size: 30px;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: var(--subheader-button-font);
    }
}
div.dashboard-primary{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

div.dashboard-header{
    display: flex;
    justify-content: space-between;
    height: 100%;
    &:last-child{
        margin-right: 1em;
    }
    .header-right-button{
        font-size: 15px;
        a{
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .header-shortcuts{
        a{
            background-color: var(--background-primary);
            border-radius: 10px;
            &:hover{
                text-decoration: none;
                filter: brightness(0.8);
            }
        }

    }
    .title-reminder{
        font-size: 12px;
        color: var(--subheader-subtitle);
        background-color: var(--subheader-button);
        padding: 0 0.8em;
        width: fit-content;
    }
    a{
        color: var(--subheader-button);
        &:hover{
            text-decoration: underline;
        }
    }
    a>.cart-button:hover{
        svg{
            filter: brightness(0.8);
        }
    }
    a>.logout-dashboard:hover{
        svg{
            filter: brightness(0.8);
        }
    }
    .cart-button svg{
        fill: var(--subheader-button);
    }
    .logout-dashboard svg{
        stroke: var(--subheader-button);
    }
}
div.dropdown{
    position: fixed;
    width: 190px;
    z-index: 5;
}
button.dropdown{
    position: relative;
    z-index: 2;
}

