.form-container{
    position: relative;
    z-index:2;
    width:60%;
    margin: 2em auto;
    border-radius: 10px;
    background-color: var(--main-cards-background);
}
.login-box{
    display: flex;
    margin-top: 2em;
    justify-content: center;
    width:100%;
    border-radius: 10px;
    background-color: var(--main-cards-background);
    form>div{
        display: flex;
        flex-direction: column;
        margin-top: 0.5em;
    }
    div>input{
        width: 300px;
        padding: 0.5em;
        border-radius: 8px;
        color: black;
        background-color: whitesmoke;
    }
    button{
        display: block;
        background-color: var(--main-cards-button);
        color:var(--main-cards-font);
        margin: 2em auto;
        padding: 0.8em;
        border-radius: 8px;
        &:hover{
            filter: brightness(0.8);
        }
    }
}
div.title{
    margin-top: 2em;
    h2{
        text-align: center;
        font-size: 2.5em;
        padding-top: 0.5em;
    }
} 
