/* See layout-container in @dashnboard.css */
div.layout-container.tiles{
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2em;
    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .tile{
            margin: 0.5em 0.5em;
            padding:1em;
            width: 30%;
            min-height: 150px;
            background-color: var(--main-cards-background);
            border-radius: 10px;
            color: var(--main-cards-font);
            font-weight: bold;
            .state-definition{
                font-size: 12px;
                color: var(--main-cards-font);
                font-weight: 100;
            }
            svg{
                fill:var(--main-cards-svg);
            }
            &:hover{
                filter: brightness(0.8);
            }
        }
        .tile-state{
            display: flex;
            flex-direction: row;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            .state-wwd{
                font-size: 14px;
                font-weight: 100;
                font-style: italic;
                span{
                    font-weight: bold;
                }
            }
        }
    }
}

.price-box{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2em auto;
    border: 2px solid var(--main-cards-font);
    border-radius: 10px;
    width:80%;
    padding:1em;
    &>.prices{
        margin: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &>p{
            display: flex ;
            flex-direction: column;
            background-color: var(--main-cards-background);
            color: var();
            padding:1em;
            border-radius: 10px;
            box-shadow: 1px 1px 1px black;
            span{
                align-self: center;
            }
        }
        .price-focus{
            font-weight: bold;
            box-shadow: 2px 2px 2px black;
            span{
                font-size: 1.3em;
                color: darkgreen;
            }
        }

    }
    div.validation{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        font-weight: bold;
        gap:1em;
        button{
            padding: 1em;
            background-color: var(--main-cards-font);
            color: var(--main-cards-button);
            border-radius: 10px;
            &:hover{
                filter: brightness(0.8);
            }
        }
    }
}
/* Ajustement simulateur */
.tiles-simulateur{
    img{
        width: 120px;
    }
    p{
        font-size: 15px;
    }
    height: 250px;
}

/* Simulateur Prices boxes */
.price-box.simulateur{
    border: unset;
    margin: 1em  auto 0 auto;
    padding: 1em 0 0 0;
    background-color: unset;
    .title-price-container{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-self: center;
        gap:0;
        margin-bottom:1em ;
    }

    .title-simulateur{
        width: max-content;
        margin: 0 auto 1em auto;
        font-size: 24px;
        font-weight: 900;
        background-color: var(--main-cards-background);
        color: var(--main-cards-font);
        padding: 0em 0.8em;
    }
    .inversed{
        width: fit-content;
        align-self: self-start;
        align-content: center;
        font-weight: bold;
        font-size: 24px;
        margin-top: -15px;
        min-height: unset;
        padding:0em 0.8em;
        background-color: var(--main-cards-font);
        color: var(--main-cards-title);
    }
    p, .price-focus{
        background-color: var(--main-cards-background);
        color:var(--main-cards-font);
        padding: 0.2em 1em;
        box-shadow: none;
        border-radius: 0;
        font-weight: bold;
        box-shadow: 2px 2px 2px black;
        span{
            color:unset;
        }
    }
    p{
        color: var(--main-cards-button);
    }
    .prices{
        div:first-child{
            p{
                font-size: 1.2em;
            }
        }
        position: relative;
        justify-content: center;
        gap: 2em;
        .prices-simulateur{
            width: 50%;
            padding:2em;
            margin-bottom: 2em;
            border: 1px solid var(--main-cards-font);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-container{
                background-color: var(--main-cards-font);
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                top: -22px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                svg{
                    stroke:var(--main-cards-button);
                }
            }
            h4{
                color: var(--font-primary);
                font-size: 23px;
                filter: drop-shadow(1px 0px 0px black);
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 1em;
            }
        }
    }
}

.notice-shop{
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    margin-bottom: 1em;
    p{
        margin-top: -15px;
        z-index:3;
        position: absolute;
        font-weight: bold;
        font-size: 22px;
        transform: rotate(5deg);
        text-transform: uppercase;
        padding: 0em 1em 0em 1em;
        background-color: var(--main-cards-font);
        color: var(--main-cards-button);
        box-shadow: 2px 2px 2px black;
        span{
            color:var(--font-secondary)
        }
    }
}

.notice{
    margin: 1em;
    text-align: center;
}
.annulation-container{
    margin-top: 1em;
    .annulation{
        position:relative;
        z-index: 2;
        display:block;
        width:17%;
        margin:1em auto 1em auto;
        text-align: center;
        padding: 0.8em;
        background-color: darkred;
        border-radius: 10px;
        color: var(--main-cards-font);
        &:hover{
            filter:brightness(0.8);
        }
    }
}

.simulateur-rigth-header{
    text-align: center;
    position: relative;
    z-index: 3;
    p{
        font-size: 22px;
        margin-bottom:0.2em ;
        padding:0 0.8em;
        rotate: -5deg;
    }
    p:first-child{
        background-color: var(--font-primary);
        color: var(--background-primary);
    }
    p:last-child{
        background-color: var(--font-secondary);
    }
}