/* See layout-container in @dashnboard.css */
div.layout-container.tiles{
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2em;
    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .tile{
            margin: 0.5em 0.5em;
            padding:1em;
            width: 30%;
            height: 20%;
            background-color: var(--font-secondary);
            border-radius: 10px;
            color: var(--font-primary);
            font-weight: bold;
            .state-definition{
                font-size: 12px;
                color: var(--background-secondary);
                font-weight: 100;
            }
            svg{
                fill:var(--background-primary);

            }
            &:hover{
                filter: brightness(0.8);
            }
        }
        .tile-state{
            display: flex;
            flex-direction: row;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            .state-wwd{
                font-size: 14px;
                font-weight: 100;
                font-style: italic;
                span{
                    font-weight: bold;
                }
            }
        }
    }
}

.price-box{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2em auto;
    background-color: var(--font-secondary);
    border-radius: 10px;
    width:80%;
    padding:1em;
    &>.prices{
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &>p{
            display: flex ;
            flex-direction: column;
            background-color: var(--font-primary);
            color: var(--background-primary);
            padding:1em;
            border-radius: 10px;
            box-shadow: 1px 1px 1px var(--background-primary);
            span{
                align-self: center;
            }
        }
        .price-focus{
            font-weight: bold;
            color: darkgreen;
            box-shadow: 2px 2px 2px var(--background-primary);
            span{
                font-size: 1.3em;
            }
        }

    }
    div.validation{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        font-weight: bold;
        gap:1em;
        button{
            padding: 1em;
            background-color: var(--background-primary);
            border-radius: 10px;
            &:hover{
                filter: brightness(0.8);
            }
        }
    }
}

.annulation-container{
    margin-top: 4em;
    .annulation{
        position:relative;
        z-index: 2;
        display:block;
        width:17%;
        margin:1em auto 1em auto;
        text-align: center;
        padding: 0.8em;
        background-color: var(--font-primary);
        border-radius: 10px;
        color: darkred;
        &:hover{
            filter:brightness(0.8);
        }
    }
}
